<!DOCTYPE html>
<html lang="<%= config.language %>">
<%- partial('components/header/head') %>

<body>
	<%- body %>
	<%- partial('components/scripts') %>
	<% if (theme.plugins.aplayer.enable) { %>
	<%- partial('components/plugins/aplayer') %>
	<% } %>
	<div id="particles-js"
		style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 0; pointer-events: none; background-color: rgba(255, 255, 255, 0);">
	</div>
</body>
</html>